<!DOCTYPE html>
<html lang="pl" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All records</title>
</head>
<body>
<div th:if="${not allTimes.isEmpty()}">
    <h1>All times</h1>
    <table border="1">
        <tr>
            <th>FirstName</th>
            <th>FirstName</th>
            <th>Time</th>
        </tr>
        <tr th:each="singletime: ${allTimes}" th:object="${singletime}">
            <td th:text="*{firstName}">Example firstname</td>
            <td th:text="*{lastName}">Example lastname</td>
            <td th:text="|*{hours} : *{minutes} : *{seconds}|"> 1 : 13: 21</td>
        </tr>
    </table>
</div>

<div th:if="${allTimes.isEmpty()}">
    <h2>There isn't any data</h2>
</div>
</body>
</html>